/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-form {
  width: 300px;
}

.profilename {
  display:inline-block;
  margin-right:10px;
  width:200px;
  font-size: 20;
  color: white;
}

.profilepic {
  margin-top: 5px ;
  display:inline-block;
  width:100px;
  content:url(profilepic.png);

}

.logo {

  margin-top: 70px;
  content:url(gofavorit_logo_crpd.png);
  height: 120px;
}


.navlogo {

  content:url(profilepic.png);
  height: 53px;
  display:inline;

}


#navbar {
  background-color: #000;
  color: #bac1c8;
  padding: 20px;
}
#firstbar
{
  min-width:960px;
  height:250px;
  background:url("background_favourit.jpg");
}

#headerbar {

  background-color: #4D77A2;
  color: #bac1c8;
  padding: 10px;
  padding-top: 30px;
}

#headerbar2 {
  background-color: #d0e3c6;
  color: #bac1c8;
  padding: 6px;

}

#footer2 {
  background-color: #000000;
  height: 10px;
  margin-top: 50px;
  position: bottom;
  bottom:0;
  width: 100%;
  z-index: 1;
}

.btn {
  font: 400 16px/120% "proxima-nova", sans-serif;
  border: none;

  background: #3498DB;
  text-align: center;
  min-width: 3.8em;
  letter-spacing: 0;
  display: inline-block;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.contain{
  border: 10px;
  padding: 10px;
  background: #f5f5f5;


}


body{

  background-repeat: inherit;
}




.navbar-inverse {
  background-color: #0075a7;
}

.contain-fill {

  width: 100%;
  position: absolute;
}